SPRING_PROFILES_ACTIVE=docker

DB_URL=jdbc:mysql://mysql:3306/micro_promise?serverTimezone=Asia/Seoul
DB_ID=appuser
DB_PASSWORD=changeme
MYSQL_ROOT_PASSWORD=changeme

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=changeme

JWT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
GITHUB_TOKEN=
